{% extends 'core/master.html' %}
{% block content_block%}
<div class="frame">
    <form class="form" action="/question/ask" method="POST">
        <div class="field">
            <h2>提問標題：</h2>
            <input name="title"/>
        </div>
        <div class="field">
            <h2>提問內容：</h2>
            <textarea name="context"></textarea>
        </div>
        <div class="field" align="center">
            <a href="#" class="btn-ask">提出問題</a>
        </div>
    </form>
</div>
{% endblock %}