{% extends 'core/master.html' %}
{% block content_block%}
<div class="frame">
    <form id="ask-form" class="form" action="/question/ask" method="POST">
        {% csrf_token %}
        <div class="field">
            <h2>提問標題(64字以內)：</h2>
            <input name="title" type="text" value="{{ title }}"/>
        </div>
        <div class="field">
            <h2>提問內容(256字以內)：</h2>
            <textarea name="context">{{ text }}</textarea>
        </div>
        <div class="field" align="center">
            <input type="submit" value="提出問題" />
        </div>
        {% if error != None %}
        <p class='error-msg'>{{error}}</p>
        {% endif %}
    </form>
</div>
{% endblock %}
{% block js_block %}
<script type="text/javascript">
window.onbeforeunload = function(){
    var title = $("input[name=title]")[0].value;
    var text = $("textarea[name=context]")[0].value;

    if(title !== '' || text !== '') {
        if (!confirm('已經有輸入東西了\n要取消發問嗎？')) {
            return '按一下「取消」停留在此頁';
        }
    }
};
</script>
{% endblock %}