{% extends 'core/master.html' %}
{% block content_block%}
<div class="frame">
    <form id="ask-form" class="form" action="/question/edit" method="POST">
        {% csrf_token %}
        <input name="qid" type="hidden" value="{{question.id}}">
        <div class="field">
            <h2>提問標題(64字以內)：</h2>
            <input type="text" name="title" value="{{question.title}}" />
        </div>
        <div class="field">
            <h2>提問內容(256字以內)：</h2>
            <textarea name="context" value="{{question.text}}">{{question.text}}</textarea>
        </div>
        <div class="field" align="center">
            <input type="submit" value="送出修改" />
        </div>
        {% if error != None %}
        <p class='error-msg'>{{error}}</p>
        {% endif %}
    </form>
</div>
{% endblock %}

{% block js_block %}
<script type="text/javascript">
window.onbeforeunload = function(){
    if (!confirm('要取消編輯嗎？')) {
        return '按一下「取消」停留在此頁';
    }
};
</script>
{% endblock %}
