{% extends 'core/base.html' %}
{% block content_block%}
<div align="center">
    <div class="live-view" align="left">
        <div class="item" id="pop-01">

            <div class="title">
                {{ question.title }}
            </div>

            <div class="context">
                <p>提問者：
                    {% autoescape on %}
                    {{question.author.last_name}}
                    {% endautoescape %}
                </p>
                <pre>
{{question.text}}
                </pre>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block js_block %}
<script type="text/javascript" src="/static/javascripts/live.js"></script>
{% endblock %}
