{% extends 'core/master.html' %}
{% load staticfiles %}
{% block content_block%}

<div class="question-set" align="center">

    <div class="question-list" align="left">
        <h1>人氣問題：</h1>
        {% for pop in popular %}
        <div class="item" id="pop-{{pop.id}}">

            <div class="title">
                {{pop.title}}
                {% if pop.solved %}
                [已回答]
                {% endif %}
                <b>({{pop.want}}人想聽)</b>
                <!-- 管理用 -->
                {% if pop.author.id == user.id %}
                <a class="admin-btn" href="/question/edit?qid={{pop.id}}">編輯</a>
                <a class="admin-btn" href="/question/del?qid={{pop.id}}">刪除</a>
                    {% if user.is_staff %}
                    <a class="admin-btn" href="/question/solve?qid={{pop.id}}">已解決</a>
                    {% endif %}
                {% elif user.is_staff %}
                <a class="admin-btn" href="/question/del?qid={{pop.id}}">刪除</a>
                    {% if not pop.solved %}
                    <a class="admin-btn" href="/question/solve?qid={{pop.id}}">已解決</a>
                    {% else %}
                    <a class="admin-btn" href="/question/unsolve?qid={{pop.id}}">未解決</a>
                    {% endif %}
                {% endif %}
                <!-- 管理用 -->

                <a class="btn-collapse" href="#ctx-pop-{{pop.id}}">►</a>
            </div>

            <div class="context" id="ctx-pop-{{pop.id}}">

                <p>提問者：{{pop.author.last_name}}</p>
                {% autoescape on %}
                {{pop.text}}
                {% endautoescape %}

                {% if user.is_authenticated %}
                    {% if pop.id in want_list %}
                        <a id="btn-pop-{{pop.id}}" href="#" class="btn-want-this-question wanted">已列入想聽名單</a>
                    {% else %}
                        <a id="btn-pop-{{pop.id}}" href="#" class="btn-want-this-question">想聽</a>
                    {% endif %}
                {% endif %}

            </div>

        </div>
        {% endfor %}
    </div>

    <div class="question-list" align="left">
        <h1>最新問題：</h1>
        {% for new_q in newest %}
        <div class="item" id="new_q-{{new_q.id}}">

            <div class="title">
                {{new_q.title}}
                {% if new_q.solved %}
                [已回答]
                {% endif %}
                <b>({{new_q.want}}人想聽)</b>
                <!-- 管理用 -->
                {% if new_q.author.id == user.id %}
                <a class="admin-btn" href="/question/edit?qid={{new_q.id}}">編輯</a>
                <a class="admin-btn" href="/question/del?qid={{new_q.id}}">刪除</a>
                    {% if user.is_staff %}
                    <a class="admin-btn" href="/question/solve?qid={{new_q.id}}">已解決</a>
                    {% endif %}
                {% elif user.is_staff %}
                <a class="admin-btn" href="/question/del?qid={{new_q.id}}">刪除</a>
                    {% if not new_q.solved %}
                    <a class="admin-btn" href="/question/solve?qid={{new_q.id}}">已解決</a>
                    {% else %}
                    <a class="admin-btn" href="/question/unsolve?qid={{new_q.id}}">未解決</a>
                    {% endif %}
                {% endif %}
                <!-- 管理用 -->

                <a class="btn-collapse" href="#ctx-new_q-{{new_q.id}}">►</a>
            </div>

            <div class="context" id="ctx-new_q-{{new_q.id}}">

                <p>提問者：{{new_q.author.last_name}}</p>
                {% autoescape on %}
                {{new_q.text}}
                {% endautoescape %}

                {% if user.is_authenticated %}
                    {% if new_q.id in want_list %}
                        <a id="btn-new_q-{{new_q.id}}" href="#" class="btn-want-this-question wanted">已列入想聽名單</a>
                    {% else %}
                        <a id="btn-new_q-{{new_q.id}}" href="#" class="btn-want-this-question">想聽</a>
                    {% endif %}
                {% endif %}

            </div>

        </div>
        {% endfor %}
    </div>
</div>
<script src="{% static 'javascripts/que_view.js' %}"></script>
{% if user.is_authenticated %}
    <script src="{% static 'javascripts/user_want.js' %}"></script>
{% endif %}
{% endblock %}
