{% extends 'core/master.html' %}
{% block content_block%}

<div class="question-set" align="center">

    <div class="question-list" align="left">
        <h1>人氣問題：</h1>
        {% for pop in popular %}
        <div class="item" id="pop-{{pop.id}}">

            <div class="title">
                {{pop.title}}
                <a class="btn-collapse" href="#ctx-pop-{{pop.id}}">►</a>
            </div>

            <div class="context" id="ctx-pop-{{pop.id}}">

                <p>提問者：{{pop.author.last_name}}</p>
                {% autoescape on %}
                {{pop.text}}
                {% endautoescape %}

                <a id="btn-pop-{{pop.id}}" href="#" class="btn-want-this-question">想聽</a>

            </div>

        </div>
        {% endfor %}
    </div>

    <div class="question-list" align="left">
        <h1>最新問題：</h1>
        {% for new_q in newest %}
        <div class="item" id="new_q-{{new_q.id}}">

            <div class="title">
                {{new_q.title}}
                <a class="btn-collapse" href="#ctx-new_q-{{new_q.id}}">►</a>
            </div>

            <div class="context" id="ctx-new_q-{{new_q.id}}">

                <p>提問者：{{new_q.author}}</p>
                {% autoescape on %}
                {{new_q.text}}
                {% endautoescape %}

                <a id="btn-new_q-{{new_q.id}}" href="#" class="btn-want-this-question">想聽</a>

            </div>

        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
