{% extends 'core/master.html' %}
{% load staticfiles %}
{% block content_block%}

<div class="question-set" align="center">

    <div class="question-list" align="left">
        <div class="order-set">
            {% if pop %}
            <a class="bright-link" href="/question/view?order=popular">人氣問題</a>
            {% else %}
            <a class="bright-link" href="/question/view?order=time">最新問題</a>
            {% endif %}
            <p class="dark-text">/</p>
            {% if not pop %}
            <a class="dark-link" href="/question/view?order=popular">人氣問題：</a>
            {% else %}
            <a class="dark-link" href="/question/view?order=time">最新問題：</a>
            {% endif %}
        </div>
        {% for que in questions %}
        <div class="item" id="que-{{que.id}}">

            <div class="title">
                {% autoescape on %}
                {{que.title}}
                {% endautoescape %}
                {% if que.solved %}
                [已回答]
                {% endif %}
                <b>({{que.want}}人想聽)</b>
                <!-- 管理用 -->
                {% if que.author.id == user.id %}
                <a class="admin-btn" href="/question/edit?qid={{que.id}}">編輯</a>
                <a class="admin-btn" href="/question/del?qid={{que.id}}">刪除</a>
                    {% if user.is_staff %}
                    {% if not que.solved %}
                    <a class="admin-btn" href="/question/solve?qid={{que.id}}">已解決</a>
                    {% else %}
                    <a class="admin-btn" href="/question/unsolve?qid={{que.id}}">未解決</a>
                    {% endif %}
                    {% endif %}
                {% elif user.is_staff %}
                <a class="admin-btn" href="/question/del?qid={{que.id}}">刪除</a>
                    {% if not que.solved %}
                    <a class="admin-btn" href="/question/solve?qid={{que.id}}">已解決</a>
                    {% else %}
                    <a class="admin-btn" href="/question/unsolve?qid={{que.id}}">未解決</a>
                    {% endif %}
                {% endif %}
                <!-- 管理用 -->

                <!-- <a class="btn-collapse" href="#ctx-que-{{que.id}}">►</a> -->
            </div>

            <div class="context" id="ctx-que-{{que.id}}">

                <p>提問者：
                    {% autoescape on %}
                    {{que.author.last_name}}
                    {% endautoescape %}
            </p>
                {% autoescape on %}
                {{que.text}}
                {% endautoescape %}

                {% if user.is_authenticated %}
                    {% if que.id in want_list %}
                        <a id="btn-que-{{que.id}}" href="#" class="btn-want-this-question wanted">已列入想聽名單</a>
                    {% else %}
                        <a id="btn-que-{{que.id}}" href="#" class="btn-want-this-question">想聽</a>
                    {% endif %}
                {% endif %}

            </div>

        </div>
        {% endfor %}
    </div>

</div>
<script src="{% static 'javascripts/que_view.js' %}"></script>
{% if user.is_authenticated %}
    <script src="{% static 'javascripts/user_want.js' %}"></script>
{% endif %}
{% endblock %}
