{% extends 'core/master.html' %}
{% block content_block%}
<div class="frame">
    <form id="form-forget" class="form" action="/user/forget" method="POST">
        <div class="field">
            <h2>電子郵件：</h2>
            <input name="email"/>
        </div>
        <div class="field">
            <h2>新密碼：</h2>
            <input name="password" type="password" />
        </div>
        <div class="field">
            <a href="#" class="btn-send-forget">重設密碼</a>
            <p>註：收到信件後，按下確認更改連結後才會更改密碼。</p>
        </div>
        {% if error != None %}
        <p class='error-msg'>{{error}}</p>
        {% endif %}
    </form>
</div>
{% endblock %}