{% extends 'core/master.html' %}
{% block content_block%}
<div class="frame">
    <form id="login_form" class="form">
        {% csrf_token %}
        <div class="field">
            <h2>電子郵件：</h2>
            <input name="email"/>
        </div>
        <div class="field">
            <h2>密碼：</h2><a class="forget-pwd" href="/user/forget">忘記密碼</a>
            <input name="password" type="password" />
            
        </div>
        <div class="field">
            <a href="#" class="btn-login">登入</a>
        </div>
    </form>
</div>
{% endblock %}