{% extends 'core/master.html' %}
{% block content_block%}
<div class="frame">
    <form id="login_form" class="form" action="/user/login" method="POST">
        {% csrf_token %}
        <div class="field">
            <h2>電子郵件：</h2>
            <input name="email"/>
        </div>
        <div class="field">
            <h2>密碼：</h2><a class="forget-pwd" href="/user/forget">忘記密碼</a>
            <input name="password" type="password" />
        </div>
        <div class="field">
            <a href="#" class="btn-form-login">登入</a>
        </div>
        {% if error != None %}
        <p class='error-msg'>{{error}}</p>
        {% endif %}
    </form>
</div>
{% endblock %}
