{% extends 'core/master.html' %}
{% block content_block%}
<div class="frame">
    <form id="profile-form" class="form" action='/user/profile' method="POST">
        {% csrf_token %}
        <div class="field">
            <h2>電子郵件(帳號)：</h2>
            <input type="text" value="{{user.email}}" disabled/>
        </div>
        <div class="field">
            <h2>暱稱：</h2>
            <input type="text" name="nickname" value="{{user.last_name}}">
        </div>
        <div class="field">
            <h2>修改密碼（若未填則維持原密碼）：</h2>
            <input name="password" type="password">
        </div>
        <div class="field">
            <a href="#" class="btn-change-profile">修改資料</a>
        </div>
        {% if error != None %}
        <p class='error-msg'>{{error}}</p>
        {% endif %}
    </form>
</div>
{% endblock %}
