{% extends 'core/master.html' %}
{% block content_block%}
<div class="frame">
    <form id="reg_form" class="form" action="/user/register" method="POST">
        {% csrf_token %}
        <div class="field">
            <h2>電子郵件：</h2>
            <input name="email" type="text"/>
        </div>
        <div class="field">
            <h2>暱稱：</h2>
            <input name="nickname" type="text"/>
        </div>
        <div class="field">
            <h2>密碼：</h2>
            <input name="password" type="password" />
        </div>
        <div class="field">
            <input name="submit" type="submit" value="送出"/>
        </div>
        {% if error != None %}
        <p class='error-msg'>{{error}}</p>
        {% endif %}
    </form>
</div>
{% endblock %}
