{% extends 'core/master.html' %}
{% block content_block%}
<div class="frame">
    <form id="reg_form" class="form" action="/user/register" method="POST">
        {% csrf_token %}
        <div class="field">
            <h2>電子郵件：</h2>
            <input name="email"/>
        </div>
        <div class="field">
            <h2>暱稱：</h2>
            <input name="nickname"/>
        </div>
        <div class="field">
            <h2>密碼：</h2>
            <input name="password" type="password" />
        </div>
        <div class="field">
            <a href="#" class="btn-send-register">送出</a>
        </div>
        {% if error != None %}
        <div class="field">
            <h2>{{ error }}</h2>
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}
