<div class="frame">
    <div class="form">
        <div class="field">
            <h2>電子郵件：</h2>
            <input name="email" type="text" />
        </div>
        <div class="field">
            <h2>密碼：</h2><a class="forget-pwd" href="/user/forget">忘記密碼</a>
            <input name="pwd" type="password" />
            
        </div>
        <div class="field">
            <input name="submit" type="submit" value="登入"/>
        </div>
        <div class="field">
            <a href="#" class="btn-facebook-login"> 使用 Facebook 登入 </a>
        </div>
    </div>
</div>