<div class="frame">
    <div class="form">
        <div class="field">
            <h2>電子郵件：</h2>
            <input name="email" value="test@test.com" disabled/>
        </div>
        <div class="field">
            <h2>暱稱：</h2>
            <input type="text" name="nick" value="王小明">
        </div>
        <div class="field">
            <h2>修改密碼（若未填則維持原密碼）：</h2>
            <input name="pwd" type="password">
        </div>
        <div class="field">
            <a href="#" class="btn-send-register">修改資料</a>
        </div>
    </form>
</div>