<div class="frame">
    <div class="form">
        <div class="field">
            <h2>電子郵件：</h2>
            <input name="email" type="text"/>
        </div>
        <div class="field">
            <h2>暱稱：</h2>
            <input name="nick" type="text"/>
        </div>
        <div class="field">
            <h2>密碼：</h2>
            <input name="password" type="password" />
        </div>
        <div class="field">
            <input name="submit" type="submit" value="送出"/>
        </div>
    </div>
</div>