<div class="frame">
    <div class="form">
        <div class="field">
            <h2>提問標題：</h2>
            <input name="title"/>
        </div>
        <div class="field">
            <h2>提問內容：</h2>
            <textarea name="context"></textarea>
        </div>
        <div class="field" align="center">
            <a href="#" class="btn-ask">提出問題</a>
        </div>
        <p class="error-msg">格式錯誤</p>
    </div>
</div>