<div class="question-set" align="center">

    <div class="question-list" align="left">
        <div class="order-set">
            <a class='bright-link' href="/question/view?order=popular">人氣問題</a> <p class="dark-text">/</p> <a class="dark-link" href="/question/view?order=time">最新問題：</a>
        </div>
        <div class="item" id="pop-01">

            <div class="title">
                Test title
                <a class="admin-btn" href="/question/edit/id">編輯</a>
                <a class="admin-btn" href="/question/del/id">刪除</a>
                <a class="admin-btn" href="/question/solve/id">已解決</a>
                
<!--                <a class="btn-collapse" href="#ctx-pop-01">►</a>-->
            </div>

            <div class="context" id="ctx-pop-01">

                <p>提問者：王小明</p>


                <pre>

This is context
This is context
This is context
This is context
This is context
This is context

                </pre>
                

                <a id="btn-pop-01" href="#" class="btn-want-this-question">想聽</a>

            </div>

        </div>
    </div>

</div>