<div class="question-set" align="center">

    <div class="question-list" align="left">
        <h1>人氣問題：</h1>
        <div class="item">
            <div class="title">
                Test title
                <a class="btn-collapse" href="#">►</a>
            </div>
            <div class="author">
                提問者：王小明
            </div>
            <div class="context">
                <p>This is context</p>
                <p>This is context</p>
                <p>This is context</p>
                <p>This is context</p>
                <p>This is context</p>
                
                
            </div>
            <div class="footer" align="right">
                <a class="btn-want-this-question">想聽</a>
            </div>
            
        </div>
    </div>

    <div class="question-list" align="left">
        <h1>最新問題：</h1>
        <div class="item">
            <div class="title">
                Test title
                <a class="btn-collapse" href="#">►</a>
            </div>
            <div class="author">
                提問者：王小明
            </div>
            <div class="context">
                <p>This is context</p>
                <p>This is context</p>
                <p>This is context</p>
                <p>This is context</p>
                <p>This is context</p>
                
                
            </div>
            <div class="footer" align="right">
                <a class="btn-want-this-question">想聽</a>
            </div>
        </div>
    </div>

</div>