/* line 3, ../sass/_main.scss */
html {
  background: none repeat scroll 0% 0% #151924;
  background-image: url("/images/bg-grid.png");
  background-image: url("/static/images/bg-grid.png");
}

/* line 9, ../sass/_main.scss */
body {
  color: #ba5347;
}

/* line 14, ../sass/_main.scss */
.container {
  padding: 0 40px;
}

/* line 18, ../sass/_main.scss */
.frame {
  margin: 30px auto;
  width: 50%;
  background-color: #5E2923;
  border-radius: 10px;
  min-height: 500px;
}

/* line 27, ../sass/_main.scss */
.form {
  padding: 50px 0;
  margin: auto 20px;
}

/* line 32, ../sass/_main.scss */
.field {
  margin: 10px 0;
}
/* line 35, ../sass/_main.scss */
.field p {
  font-size: 0.8em;
  padding: 10px 0px;
}
/* line 40, ../sass/_main.scss */
.field h2 {
  color: #FFF;
  font-size: 1.4em;
  display: inline;
}
/* line 46, ../sass/_main.scss */
.field input {
  background-color: transparent;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #ba5347;
  color: #FFF;
  display: inline;
  width: 100%;
  font-size: 1.4em;
}
/* line 57, ../sass/_main.scss */
.field textarea {
  width: 95%;
  min-height: 400px;
  background-color: #5E2923;
  color: #FFF;
  border-style: solid;
  border-width: 1px;
  border-color: #ba5347;
  font-size: 1.4em;
  padding: 3px;
}

/* line 70, ../sass/_main.scss */
.error-msg {
  font-size: 1.3em;
  color: #FFF;
}

@media (max-width: 810px) {
  /* line 77, ../sass/_main.scss */
  .frame {
    width: 80%;
  }

  /* line 81, ../sass/_main.scss */
  .container {
    padding: 0 20px;
  }
}
@media (max-width: 500px) {
  /* line 87, ../sass/_main.scss */
  .frame {
    width: 100%;
  }

  /* line 91, ../sass/_main.scss */
  .container {
    padding: 0 10px;
  }
}
/* line 4, ../sass/_header.scss */
.nav-bar {
  display: block;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  margin-top: 50px;
}
/* line 11, ../sass/_header.scss */
.nav-bar div {
  display: inline-block;
}

/* line 16, ../sass/_header.scss */
.nav-bar-btn {
  display: none;
  background-color: #ba5347;
  width: 100%;
  color: #FFF;
  text-align: center;
  font-size: 1.3em;
  padding: 10px;
}
/* line 26, ../sass/_header.scss */
.nav-bar-btn:link {
  text-decoration: none;
}

/* line 31, ../sass/_header.scss */
.nav-header {
  font-size: 30px;
  display: inline-block;
  margin: 10px;
  padding-left: 30px;
}
/* line 37, ../sass/_header.scss */
.nav-header a {
  display: block;
  color: #ba5347;
}
/* line 40, ../sass/_header.scss */
.nav-header a:link {
  text-decoration: none;
}

/* line 46, ../sass/_header.scss */
.nav-items {
  display: inline-block;
  font-size: 30px;
}
/* line 50, ../sass/_header.scss */
.nav-items li {
  display: inline-block;
}
/* line 53, ../sass/_header.scss */
.nav-items li a {
  color: #5E2923;
  display: block;
  padding: 10px;
}
/* line 58, ../sass/_header.scss */
.nav-items li a:link {
  text-decoration: none;
}
/* line 62, ../sass/_header.scss */
.nav-items li a:hover {
  color: #ba5347;
}

/* line 69, ../sass/_header.scss */
.nav-left {
  float: left;
}

/* line 73, ../sass/_header.scss */
.nav-right {
  float: right;
  padding-right: 30px;
}

/* line 78, ../sass/_header.scss */
.btn-login {
  font-size: 30px;
  color: #5E2923;
  display: inline-block;
  padding: 10px;
}
/* line 84, ../sass/_header.scss */
.btn-login:link {
  text-decoration: none;
}
/* line 88, ../sass/_header.scss */
.btn-login:hover {
  color: #ba5347;
}

/* line 92, ../sass/_header.scss */
.btn-logout {
  font-size: 18px;
  color: #5E2923;
  display: inline-block;
  padding: 10px;
}
/* line 99, ../sass/_header.scss */
.btn-logout:link {
  text-decoration: none;
}
/* line 103, ../sass/_header.scss */
.btn-logout:hover {
  color: #ba5347;
}

/* line 108, ../sass/_header.scss */
.user-prompt {
  display: inline-block;
  font-size: 18px;
  color: #5E2923;
}
/* line 113, ../sass/_header.scss */
.user-prompt a {
  color: #ba5347;
}
/* line 115, ../sass/_header.scss */
.user-prompt a:link {
  text-decoration: none;
}

/* line 121, ../sass/_header.scss */
.btn-register {
  font-size: 30px;
  display: inline-block;
  padding: 10px;
  color: #5E2923;
}
/* line 127, ../sass/_header.scss */
.btn-register:link {
  text-decoration: none;
}
/* line 131, ../sass/_header.scss */
.btn-register:hover {
  color: #ba5347;
}

/* line 136, ../sass/_header.scss */
.divider {
  color: #5E2923;
}

@media (max-width: 810px) {
  /* line 142, ../sass/_header.scss */
  .nav-bar {
    margin-top: 0;
    display: none;
  }

  /* line 147, ../sass/_header.scss */
  .nav-items {
    display: block;
  }
  /* line 149, ../sass/_header.scss */
  .nav-items .divider {
    display: none;
    content: "";
  }
  /* line 154, ../sass/_header.scss */
  .nav-items li {
    display: block;
  }

  /* line 161, ../sass/_header.scss */
  .nav-right {
    float: none;
  }
  /* line 163, ../sass/_header.scss */
  .nav-right a {
    display: block;
  }

  /* line 168, ../sass/_header.scss */
  .nav-bar-btn {
    display: block;
  }

  /* line 172, ../sass/_header.scss */
  .user-prompt {
    margin-left: 10px;
  }
  /* line 174, ../sass/_header.scss */
  .user-prompt a {
    display: inline-block;
  }

  /* line 180, ../sass/_header.scss */
  .nav-header {
    padding-left: 0;
  }
}
/* line 1, ../sass/_footer.scss */
footer {
  width: 100%;
  padding-left: 30px;
}

/* line 1, ../sass/_index.scss */
.logo {
  padding: 80px 0;
  margin: 0 auto;
  width: 50%;
}
/* line 5, ../sass/_index.scss */
.logo img {
  margin: 30px 0px;
  width: 100%;
}
/* line 9, ../sass/_index.scss */
.logo h1 {
  margin: 30px 0px;
  font-size: 5em;
  text-align: center;
}

/* line 3, ../sass/_register.scss */
.btn-send-register {
  display: block;
  background-color: #ba5347;
  color: #FFF;
  padding: 20px;
  border-radius: 5px;
  font-size: 1.3em;
  text-align: center;
}
/* line 12, ../sass/_register.scss */
.btn-send-register:link {
  text-decoration: none;
}
/* line 16, ../sass/_register.scss */
.btn-send-register:hover {
  color: #5E2923;
}

/* line 3, ../sass/_login.scss */
.forget-pwd {
  color: #ba5347;
  font-size: .8em;
}
/* line 6, ../sass/_login.scss */
.forget-pwd:link {
  text-decoration: none;
}
/* line 10, ../sass/_login.scss */
.forget-pwd:hover {
  color: #FFF;
}

/* line 15, ../sass/_login.scss */
.btn-form-login {
  display: block;
  background-color: #ba5347;
  color: #FFF;
  padding: 20px;
  border-radius: 5px;
  font-size: 1.3em;
  text-align: center;
}
/* line 24, ../sass/_login.scss */
.btn-form-login:link {
  text-decoration: none;
}
/* line 28, ../sass/_login.scss */
.btn-form-login:hover {
  color: #5E2923;
}

/* line 3, ../sass/_question.scss */
.question-list {
  border-style: solid;
  border-color: #ccc;
  border-width: 1px;
  padding: 10px;
  color: #FFF;
  display: inline-block;
  width: 45%;
  min-height: 600px;
  margin: 0 10px;
  vertical-align: top;
}
/* line 16, ../sass/_question.scss */
.question-list h1 {
  font-size: 1.4em;
  margin: 10px 0;
}
/* line 21, ../sass/_question.scss */
.question-list .item {
  border-style: solid;
  border-color: #ccc;
  border-width: 1px;
}
/* line 26, ../sass/_question.scss */
.question-list .item .title {
  background-color: #ba5347;
  padding: 7px;
}
/* line 30, ../sass/_question.scss */
.question-list .item .title .btn-collapse {
  float: right;
  color: #FFF;
}
/* line 33, ../sass/_question.scss */
.question-list .item .title .btn-collapse:link {
  text-decoration: none;
}
/* line 39, ../sass/_question.scss */
.question-list .item .context {
  display: none;
  padding: 7px;
}
/* line 43, ../sass/_question.scss */
.question-list .item .context p {
  margin: 5px 0;
}
/* line 48, ../sass/_question.scss */
.question-list .item .close {
  display: none;
}

/* line 56, ../sass/_question.scss */
.question-set {
  margin: 0 auto;
  width: 90%;
}

/* line 62, ../sass/_question.scss */
.btn-want-this-question {
  display: block;
  background-color: #000;
  color: #FFF;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #CCC;
  width: 60px;
  -webkit-transition: width .5s;
  transition: width .5s;
}
/* line 76, ../sass/_question.scss */
.btn-want-this-question:link {
  text-decoration: none;
}
/* line 80, ../sass/_question.scss */
.btn-want-this-question:hover {
  color: #555;
}

/* line 88, ../sass/_question.scss */
.wanted {
  background-color: #ba5347;
  width: 120px;
  -webkit-transition: width .5s;
  transition: width .5s;
}
/* line 92, ../sass/_question.scss */
.wanted:link {
  text-decoration: none;
}
/* line 96, ../sass/_question.scss */
.wanted:hover {
  color: #5E2923;
}

@media (max-width: 1050px) {
  /* line 106, ../sass/_question.scss */
  .question-list {
    width: 70%;
  }
}
@media (max-width: 810px) {
  /* line 114, ../sass/_question.scss */
  .question-list {
    width: 100%;
  }
}
/* line 3, ../sass/_ask.scss */
.btn-ask {
  display: block;
  background-color: #ba5347;
  color: #FFF;
  padding: 10px;
  border-radius: 5px;
  font-size: 1em;
  text-align: center;
  width: 30%;
}
/* line 13, ../sass/_ask.scss */
.btn-ask:link {
  text-decoration: none;
}
/* line 17, ../sass/_ask.scss */
.btn-ask:hover {
  color: #5e2923;
}

/* line 1, ../sass/_about.scss */
.about {
  margin: 50px 0;
  min-height: 500px;
}
/* line 4, ../sass/_about.scss */
.about h1 {
  font-size: 2em;
}
/* line 8, ../sass/_about.scss */
.about a {
  color: #FFF;
}
/* line 10, ../sass/_about.scss */
.about a:link {
  text-decoration: none;
}
/* line 15, ../sass/_about.scss */
.about p {
  font-size: 1.2em;
  margin: 10px 0;
}

/* line 1, ../sass/_square_chk_box.scss */
.squaredTwo {
  width: 28px;
  height: 28px;
  background: #fcfff4;
  display: inline-block;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  position: relative;
}
/* line 20, ../sass/_square_chk_box.scss */
.squaredTwo input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
/* line 26, ../sass/_square_chk_box.scss */
.squaredTwo label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 4px;
  top: 4px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
  background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
  background: -moz-linear-gradient(top, #222222 0%, #45484d 100%);
  background: -o-linear-gradient(top, #222222 0%, #45484d 100%);
  background: -ms-linear-gradient(top, #222222 0%, #45484d 100%);
  background: linear-gradient(top, #222222 0%, #45484d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}
/* line 45, ../sass/_square_chk_box.scss */
.squaredTwo label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 4px;
  left: 4px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 67, ../sass/_square_chk_box.scss */
.squaredTwo label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}

/* line 1, ../sass/_msg.scss */
.msg {
  margin: 0 auto;
  padding: 20px;
}
/* line 5, ../sass/_msg.scss */
.msg h1 {
  color: #FFF;
  font-size: 1.4em;
}

/* line 3, ../sass/_profile.scss */
.btn-change-profile {
  display: block;
  background-color: #ba5347;
  color: #FFF;
  padding: 20px;
  border-radius: 5px;
  font-size: 1.3em;
  text-align: center;
}
/* line 12, ../sass/_profile.scss */
.btn-change-profile:link {
  text-decoration: none;
}
/* line 16, ../sass/_profile.scss */
.btn-change-profile:hover {
  color: #5E2923;
}

/* line 3, ../sass/_admin.scss */
.admin-btn {
  color: #FFF;
  border-bottom-style: solid;
  border-color: #FFF;
  border-width: 1px;
  background-color: #ba5347;
  padding: 2px;
}
/* line 12, ../sass/_admin.scss */
.admin-btn:link {
  text-decoration: none;
}
/* line 16, ../sass/_admin.scss */
.admin-btn:hover {
  background-color: #5e2923;
}
