.about {
    margin: 50px 0;
    min-height: 500px;
    h1 {
        font-size: 2em;
    }
    
    a {
        color: #FFF;
        &:link {
            text-decoration: none;
        }
    }
    
    p {
        font-size: 1.4em;
        margin: 10px 0;
    }
}