@import "colors";

.btn-ask {
    display: block;
    background-color: $bright_red;
    color: #FFF;
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    text-align: center;
    width: 30%;

    &:link {
        text-decoration:none;
    }

    &:hover {
        color: $dark_red;
    }
}


