@import "colors";

html {
    background: none repeat scroll 0% 0% #151924;
    background-image: url("/images/bg-grid.png");
    background-image: url("/static/images/bg-grid.png");
}

body {
    color:$bright_red;
//    background: url("/images/bg-grid.png");
}

.container {
    padding: 0 40px;
}

.frame {
    margin: 30px auto;
    width: 50%;
    background-color: #5E2923;
    border-radius: 10px;
    min-height: 500px;
}


.form {
    padding: 50px 0;
    margin: auto 20px;
}

.field {
    margin: 15px 0;

    p {
        font-size: 0.8em;
        padding: 10px 0px;
    }

    h2 {
        color: #FFF;
        font-size: 1.4em;
        display: inline;
    }

    input[type="text"], input[type="password"] {
        background-color: transparent;
        border-style: solid;
        border-width: 0px 0px 1px 0px;
        border-color: $bright_red;
        color: #FFF;
        display: inline;
        width: 100%;
        font-size: 1.4em;
        margin: 5px 0;
    }
    
    input[type="submit"] {
        width: 100%;
        border-width: 0;
        display: block;
        background-color: $bright_red;
        color: #FFF;
        padding: 20px;
        border-radius: 5px;
        font-size: 1.3em;
        text-align: center;

        &:link {
            text-decoration:none;
        }

        &:hover {
            color: #5E2923;
        }
    }

    textarea {
        width: 99%;
        min-height: 400px;
        background-color: #5E2923;
        color: #FFF;
        border-style: solid;
        border-width: 1px;
        border-color: $bright_red;
        font-size: 1.4em;
        padding: 3px;
        margin: 5px 0;
    }
}

.error-msg {
    font-size: 1.3em;
    color: #FFF;
}

.bright-text {
    color: $bright-red;
}

.dark-text {
    color: $dark-red;
}

.bright-link {
    color: $bright-red;
    
    &:link {
        text-decoration: none;    
    }
    
    &:hover {
        color: $dark-red;
    }
}

.dark-link {
    color: $dark-red;
    
    &:link {
        text-decoration: none;    
    }
    
    &:hover {
        color: $bright-red;
    }
}


@media(max-width:810px) {
    .frame {
        width: 80%;
    }
    
    .container {
        padding: 0 20px;
    }
}

@media(max-width:500px) {
    .frame {
        width: 100%;
    }
    
    .container {
        padding: 0 10px;
    }
}