
<div align="center">
    <div class="live-view" align="left">
        <div class="item" id="pop-01">

            <div class="title">
                Test title
            </div>

            <div class="context">

                <p>提問者：王小明</p>
                <pre>

This is context
This is context
This is context
This is context
This is context
This is context

                </pre>

            </div>

        </div>
    </div>

</div>