<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Hacker, 給問嗎？</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="SITCON, Hacker, 給問嗎？">
        <meta name="author" content="Takeshi">

        <link rel="stylesheet" href="/stylesheets/reset.css" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>

    <body>

        

<a class="nav-bar-btn" href="#">
    Menu
</a>


<div class="nav-bar">
    <div class="nav-header">
        <a href="/"> Hacker, 給問嗎？</a>
    </div>

    <ul class="nav-items">
        <li><a href="/question/ask">發問</a></li>
        <li class="divider" >/</li>
        <li><a href="/question/view">看問題</a></li>
        <li class="divider" >/</li>
        <li><a href="/about">關於</a></li>
    </ul>

    <div class="nav-right">
        <!-- 已登入 -->
        {% if username %}
        <h3 class="user-prompt">歡迎! <a href="/user/profile">{{username}}</a></h3>
        <a href="/user/logout" class="btn-logout">登出</a>
        {% else %}
        <a href="/user/login" class="btn-login">登入</a>
        <a href="/user/register" class="btn-register">註冊</a>
        {% endif %}
    </div>
</div>

        <div class="container">
            
<div class="logo">
    <img src="images/logo@2x.png"></img>
</div>
        </div>
        
<div class="footer" >
    <hr>

    <footer>
        <p>SITCON, Hacker 給問嗎？</p>
    </footer>

</div>

<!--        <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
-->
        
        <script src="/javascripts/jquery-1.11.2.min.js"></script>
        <script src="/javascripts/scripts.js"></script>
    </body>
</html>
