<div class="nav-bar">
    <div class="nav-header">
        <a href="/"> Hacker, 給問嗎？</a>
    </div>

    <ul class="nav-items">
        <li><a href="/question/ask">發問</a></li>
        <li class="divider" >/</li>
        <li><a href="/question/view">看問題</a></li>
        <li class="divider" >/</li>
        <li><a href="/about">關於</a></li>
    </ul>

    <div class="nav-right">
        <a href="/user/login" class="btn-login">登入</a>
        <a href="/user/register" class="btn-register">註冊</a>
    </div>
</div>
